@model BookStore.Models.Book

@{
    ViewBag.Title = "BookDetails";
}

<h2>BookDetails</h2>

<div>
    Title: @Model.Title
</div>
<div>
    Author: @Model.Author
</div>
<div>
    ISBN: @Model.ISBN
</div>
<div>
    WebSite: @Model.WebSite
</div>
<div>
    Description: @Model.Description
</div>